.box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 30px 20px;
    margin: 10px 0px
}

.box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 30px 20px;
    margin: 10px 0px;
    text-align: center;
}

.box-2 >img{
    border-radius: 50%;
}
.box-price{
    font-size: 1rem;
    font-weight: 700;
}

.bits{
    font-size: 1rem;
    font-weight: 700;
}

.box-1 > input{
    width: 80%;
    position: relative;
    text-align: center;
    padding: 10px 0px;
    margin: 5px;
}
.bidders{
    border-bottom: 1px solid;
    padding: 10px 0px;
    max-width: 70%;
}

.bidder-info > img{
    height: 80px;
    border-radius: 50%;

}

.bidderss{
    color: orange;
}
.des{
    font-weight: 200p;
    margin: 10px 0px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.bids-end{
   position: relative;
}

.Square{
    border: 1px solid;
    font-size: 1.1rem;
    padding: 5px;
    color: black;
    background: orange;
    cursor: pointer;
    margin: 15px 0px;
}
.bidend{
    border: 1px solid;
    background: red;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;

}
.saler{
    padding: 10px;
}

.btn-saler{
    background-color: orange;
    color: white;
    border-radius: 5%;
}